In [2]:
import pandas as pd
import numpy as np

In [13]:
#Load the user data frame file
userDf = pd.read_csv('userDfFile.csv',index_col=0)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
#Load the review data frame file
reviewDf1=pd.read_csv('reviewDfFile1.csv',index_col=0)

In [14]:
#Make a deep copy of userDf for adding a new column 'available_review_count'
newUserDf=userDf.copy()

In [ ]:
print(len(userDf))
print(len(reviewDf1))

This is my first attempt. After I wrote it, I figured it might be very slow so I did not bother running it through.

In [ ]:
# '''Count the number of available reviews in reviewDf for each user in userDf and add that to the existing newUserDf which contains the available_review_count so far'''
# def countAvailableReview(userDf,reviewDf,newUserDf):
#     #loop through each user in userDf and count the number of reviews available in reviewDf
#     for i in range(len(userDf)):
#         user=userDf.loc[i,'user_id']
#         available_review_count=len(reviewDf.loc[reviewDf['user_id']==user])
#         newUserDf.at[i,'available_review_count']=available_review_count
#     return newUserDf

In [ ]:
# newUserDf=countAvailableReview(userDf,reviewDf1,newUserDf)

In [15]:
newUserDf.sort_values('user_id',inplace=True)

In [ ]:
'---94vtJ_5o_nikEs6hUjg'<'---PLwSf5gKdIoVnyRHgBA'

In [ ]:
# newUserDf.iloc[0, newUserDf.columns.get_loc('review_count')] = 246
# df.iloc[0, df.columns.get_loc('COL_NAME')] = x
# The following codes are just for testing
# for i in range(20):
#     print(len(reviewDf1.loc[reviewDf1['user_id']==newUserDf.iloc[i]['user_id']]))

In [ ]:
reviewDf1.sort_values('user_id',inplace=True)

In [ ]:
reviewDf1.head()

### Sync the first data frame (reviewDfFile1.csv)

In [ ]:
j=0 #j iterator in the sorted reviewDf1
jmax=len(reviewDf1)
newcolumn=[]
for i in range(len(newUserDf)): #i is the iterator in the sorted newUserDf
    user=newUserDf.iloc[i]['user_id'] #the current user we are syncing
#     print(i,j,reviewDf1.iloc[j]['user_id'],user)
    #loop till we find a user_id that is equal to or larger than user
    while (j<jmax and reviewDf1.iloc[j]['user_id']<user):
        j+=1
    count=0 #initial available_review_count
    #Now the user_id at position j in reviewDf matches the user_id at position i in newUserDf
    while (j<jmax and reviewDf1.iloc[j]['user_id']==user):
        count+=1
        j+=1
    newcolumn.append(count)

In [ ]:
import copy
# newcolumncopy=copy.deepcopy(newcolumn)

### Now create a function to sync the rest data frames

In [3]:
'''Update the newcolumn which contains the number of available reviews counted so far by syncing sortedUserDf and sortedReviewDf'''
def fastCountAvaiReview(sortedUserDf,sortedReviewDf,newcolumn):
    j=0
    jmax=len(sortedReviewDf)
    for i in range(len(sortedUserDf)):#i is the iterator in the sorted newUserDf
        user=sortedUserDf.iloc[i]['user_id'] #the current user we are syncing
        #loop till we find a user_id that is equal to or larger than user
        while (j<jmax and sortedReviewDf.iloc[j]['user_id']<user):
            j+=1
        count=0 #initial available_review_count
        #Now the user_id at position j in reviewDf matches the user_id at position i in newUserDf
        while (j<jmax and sortedReviewDf.iloc[j]['user_id']==user):
            count+=1
            j+=1
        newcolumn[i]+=count
    return newcolumn

In [ ]:
#newUserDf.dropna()
#It turns out there is actually no na values in the data frame

In [5]:
'''Read the csv file as a data frame and sort it by user_id'''
def loadAndSortCSV(csvfile):
    reviewDf=pd.read_csv(csvfile,index_col=0,low)
    reviewDf.sort_values('user_id',inplace=True)
    return reviewDf

##### Sync reviewDfFile2.csv

In [ ]:
reviewDf=loadAndSortCSV('reviewDfFile2.csv')

In [ ]:
newcolumn=fastCountAvaiReview(newUserDf,reviewDf,newcolumn)

##### Export the result to 'AvaiReviewCountDfFile.csv'

In [ ]:
AvaiReviewCountDf = pd.DataFrame(newcolumn, columns=["colummn"])

In [ ]:
AvaiReviewCountDf.to_csv('AvaiReviewCountDfFile.csv', index=False)

In [ ]:
AvaiReviewCountDf.head()

#### Sync reviewDfFile3.csv

In [ ]:
reviewDf=loadAndSortCSV('reviewDfFile3.csv')

Load AvaiReviewCountDfFile and convert it to list for syncing

In [4]:
def loadCSVtoList(csvfile):
    newcolumnDf=pd.read_csv(csvfile)
    newcolumnarr=newcolumnDf.values
    newcolumnlist=[]
    for arr in newcolumnarr:
        newcolumnlist.append(arr[0])
    return newcolumnlist

In [ ]:
newcolumnlist=loadCSVtoList('AvaiReviewCountDfFile.csv')

In [ ]:
newcolumnlist=fastCountAvaiReview(newUserDf,reviewDf,newcolumnlist)

#### Sync reviewDfFile4.csv

In [ ]:
reviewDf4=pd.read_csv('reviewDfFile4.csv',index_col=0,low_memory=False)

In [ ]:
reviewDf4.sort_values('user_id',inplace=True)

In [ ]:
reviewDf4=reviewDf4.dropna() #reviewDf4 contains na values so need to drop those rows

In [ ]:
newcolumnlist=fastCountAvaiReview(newUserDf,reviewDf4,newcolumnlist)

In [ ]:
AvaiReviewCountDf = pd.DataFrame(newcolumnlist, columns=["colummn"])

In [ ]:
AvaiReviewCountDf.to_csv('AvaiReviewCountDfFile.csv', index=False)

#### Sync reviewDfFile5.csv

In [6]:
reviewDf=loadAndSortCSV('reviewDfFile5.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2850: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [7]:
reviewDf.tail()

,business_id,date,review_id,stars,text,user_id
1026710,zCJU73A0UTYXXFqAbgBckQ,2017-06-13,JHUQoD1ziYwBLbpM46yGdA,5.0,Had seen him on Americas Got Talent and so gla...,zzyh1-EF29x456g8wbtSqg
1012654,WivFagb6JtTeJskEEvYfXg,2017-01-31,QTsQHi4xjB84EOrAKHoifg,5.0,Assured Tax Service has provided an outstandin...,zzzmshdEWLFCApxETl1TGQ
10688,74pWjFssgqyhaVg-YCUo3A,2013-01-05,Gykf0vJowPiEyiDUlXt86g,5.0,This location is closed. Web site needs updat...,zzzmshdEWLFCApxETl1TGQ
937609,eO0Dsp8MBjUT16lno8gkmA,2017-02-22,OSdqcxyXqM-XTEgajJNUmw,5.0,Working with Tina and Marcia has been such a p...,NaN
My husband and I had not purchased a home before and we definitely needed some hand holding. They were patient and professional. We got our dream home and the entire experience was awesome! Thank you so much ladies for a job well done!,QRn8ELZmvP8S4evnSRU9bQ,NaN,NaN,NaN,NaN,NaN

In [10]:
reviewDf=reviewDf.drop(reviewDf.index[-2:])

In [11]:
newcolumnlist=loadCSVtoList('AvaiReviewCountDfFile.csv')

In [16]:
newcolumnlist=fastCountAvaiReview(newUserDf,reviewDf,newcolumnlist)

#### Sync reviewDfFile6.csv

In [21]:
reviewDf=loadAndSortCSV('reviewDfFile6.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [23]:
reviewDf.tail()

,business_id,date,review_id,stars,text,user_id
970973,NKHvmp19c6wrm0dZXcLtmQ,2016-08-13,J6sDT53hNjtvUZvk34Jrhg,2,I ordered the fried chicken on rice and a sesa...,zzwTJAgONYCTeJia4te47g
243032,abO4gvGKB0aVjsrXHlgeFg,2016-08-11,Zw1hLwD6gYQ4Z15Fo8n6Tg,3,Found this place on Yelp. Rated 4.5 stars. Res...,zzwTJAgONYCTeJia4te47g
435231,moZAQFO776KIBe38WjiTJw,2016-08-11,xCwLHqDJHnxVZM8KYGPGfQ,3,Ordered the Mentaiko spicy udon. Taste pretty ...,zzwTJAgONYCTeJia4te47g
423526,UY9t1EL5PYxPiBGivkeE9Q,2015-05-14,JqYP_70wStCR8ET25hLeXg,2,"Occasionally, I'll stop by here when I'm on my...",zzxZoMmjbUjXcWZzrE3PIw
638175,wHwHmozyqtIE5U3uTtvpuA,2016-06-20,ReG_7VgPTASn3y6g06yerA,5,Great customer service and delicious coffee/pa...,zzzhFxwfzL56CQVnw8piTw

In [24]:
newcolumnlist=fastCountAvaiReview(newUserDf,reviewDf,newcolumnlist)

#### Sync reviewDfFile7.csv

In [26]:
reviewDf=loadAndSortCSV('reviewDfFile7.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [28]:
reviewDf.tail()

,business_id,date,review_id,stars,text,user_id
715888,AV6weBrZFFBfRGCbcRGO4g,2014-03-20,pj3rWwZUEmv6TOfzYNxgSw,2,Staff was friendly but the room they put us in...,zzxbZgRaVD66oLRiF5LCxA
790511,KskYqH1Bi7Z_61pH6Om8pg,2014-08-13,G5-Jhp_cg7X6HJTf3B3HRQ,3,Pretty decent Thai food in Vegas! Super busy t...,zzyLd6p8pcNdkd4Hrv08bw
128410,WHfgo788tdCywQbgG04rDA,2017-03-12,KIwAs2hgBdmSrUM5M7o_OA,5,I'm love this place on the weekends for brunch...,zzyMMeUZzKAy7KQhM7lU2w
975486,2dPnfMUWdB1lORRD-I1cmA,2016-07-21,I37y78fhdU4CFZm8Q12L7w,3,Honestly this strip club is mediocre. I don't ...,zzyx5LodXOXGyh-c7ox_Mg
731996,LMdUoR00jPxQDWLYRq93FA,2016-09-27,CMhtNbhI8uW4Gel9ujZ_Ag,5,"Incredible, fresh, creative food. Quiessence t...",zzzAgDDWe4PTnJuwhi3XQQ

In [29]:
newcolumnlist=fastCountAvaiReview(newUserDf,reviewDf,newcolumnlist)

#### Sync reviewDfFile8.csv

In [31]:
reviewDf=loadAndSortCSV('reviewDfFile8.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2850: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [32]:
reviewDf.tail()

,business_id,date,review_id,stars,text,user_id
850117,GJ_bXUPv672YwNg4TneJog,2014-08-21,pDX8FkjgOLPrzc1TZzMiZw,1.0,Have you ever had to eat trash and have to pay...,zzzTkKLFo9CaeZnfO4TvzA
215329,WcHTXumqKMt0WdF-9RWljw,2015-01-19,Q_nL6DH9XIFtaXesjTmYyQ,5.0,Great place to get turf for your project. Pric...,zzzfcCWPDkg-kGVpqCKCEg
180186,EYOPM91BM039rYuAjgZbkg,2015-07-19,_xwGwKbnWzrUSh4dsRMHCQ,5.0,My family and I had a great time. Wear darker ...,zzzfcCWPDkg-kGVpqCKCEg
858652,uWECX6-Uq9n8v5ipk9R29A,2014-06-10,lyNSICzFzDPHXL_E6PHvWw,5.0,Best Creole/Cajun food in Nevada! Order the B...,NaN
All the goodness of the deep South! Seasoned and pan bronzed. Mississippi catfish served over Gouda grits with an andouille sausage and mushroom ragout.,aZs_IrhA7rvuLBumVhJjCw,NaN,NaN,NaN,NaN,NaN

In [33]:
reviewDf=reviewDf.drop(reviewDf.index[-2:])

In [35]:
newcolumnlist=fastCountAvaiReview(newUserDf,reviewDf,newcolumnlist)

#### Export the result

In [37]:
AvaiReviewCountDf = pd.DataFrame(newcolumnlist8, columns=["colummn"])

In [40]:
AvaiReviewCountDf.to_csv('AvaiReviewCountDfFile.csv', index=False)