In [1]:
import pandas as pd
import numpy as np

In [48]:
#Load the user data frame file
userDf = pd.read_csv('userDfFile.csv',index_col=0)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [49]:
sortedUserDf=userDf.sort_values('user_id')

In [ ]:
sortedUserDf.tail()

This is my first attempt. After I wrote it, I figured it might be very slow so I did not bother running it through.

In [ ]:
# '''Count the number of available reviews in reviewDf for each user in userDf and add that to the existing newUserDf which contains the available_review_count so far'''
# def countAvailableReview(userDf,reviewDf,newUserDf):
#     #loop through each user in userDf and count the number of reviews available in reviewDf
#     for i in range(len(userDf)):
#         user=userDf.loc[i,'user_id']
#         available_review_count=len(reviewDf.loc[reviewDf['user_id']==user])
#         newUserDf.at[i,'available_review_count']=available_review_count
#     return newUserDf

In [ ]:
'''Count the number of reviews and available in sortedReviewDf for each user in sortedUserDf'''
def fastCountAvailReview(sortedUserDf,sortedReviewDf):
    j=0 #iterator in sortedReviewDf
    jmax=len(sortedReviewDf)
    availReviewCol=[]
    reviewIdCol=[]
    for i in range(len(sortedUserDf)): #i <-- iterator in sortedUserDf
        #user_id we are currently syncing
        user=sortedUserDf.iloc[i]['user_id']
        #loop until we find a user_id >= user
        while (j<jmax and sortedReviewDf.iloc[j]['user_id']<user):
            j+=1
        reviewIdSet=set()
        #Count the number of available reviews in sortedReviewDf
        while (j<jmax and sortedReviewDf.iloc[j]['user_id']==user):
            reviewIdSet.add(sortedReviewDf.iloc[j]['review_id'])
            j+=1
        availReviewCol.append(len(reviewIdSet))
        reviewIdCol.append(reviewIdSet)
    return availReviewCol,reviewIdCol

### Sync reviewDf1.csv

In [ ]:
#Load the review data frame file
reviewDf=pd.read_csv('reviewDfFile1.csv',index_col=0)

In [ ]:
sortedReviewDf=reviewDf.sort_values('user_id')

In [ ]:
sortedReviewDf.tail()

In [ ]:
#Drop rows that contain NaN
sortedReviewDf=sortedReviewDf.drop(sortedReviewDf.index[-2:])

In [ ]:
availReviewCol,reviewIdCol=fastCountAvailReview(sortedUserDf,sortedReviewDf)

In [ ]:
#Put the result in a data frame
availReviewDf1=pd.DataFrame(data={"AvailReviewCount":availReviewCol,"Reviews":reviewIdCol},index=sortedUserDf['user_id'])

In [ ]:
#Export it into a csv file
availReviewDf1.to_csv("availReviewDf1.csv")

In [ ]:
availReviewDf1.head()

### Sync ReviewDfFile2.csv

In [ ]:
#Load the review data frame file
reviewDf=pd.read_csv('reviewDfFile2.csv',index_col=0)

In [ ]:
sortedReviewDf=reviewDf.sort_values('user_id')

In [ ]:
sortedReviewDf.tail()

In [ ]:
#sortedReviewDf does not contain rows with NaN values, so proceed
availReviewCol,reviewIdCol=fastCountAvailReview(sortedUserDf,sortedReviewDf)

In [ ]:
#Put the results lists in a data frame and export it into a csv file
availReviewDf2=pd.DataFrame(data={"AvailReviewCount":availReviewCol,"Reviews":reviewIdCol},index=sortedUserDf['user_id'])
availReviewDf2.to_csv("availReviewDf2.csv")

In [ ]:
availReviewDf2.head()

### Sync ReviewDfFile3.csv

In [ ]:
#Load the review data frame file
reviewDf=pd.read_csv('reviewDfFile3.csv',index_col=0)

In [ ]:
sortedReviewDf=reviewDf.sort_values('user_id')

In [ ]:
#sortedReviewDf does not contain rows with NaN values, so proceed
availReviewCol,reviewIdCol=fastCountAvailReview(sortedUserDf,sortedReviewDf)

In [ ]:
#Put the results lists in a data frame and export it into a csv file
availReviewDf3=pd.DataFrame(data={"AvailReviewCount":availReviewCol,"Reviews":reviewIdCol},index=sortedUserDf['user_id'])
availReviewDf3.to_csv("availReviewDf3.csv")

In [ ]:
availReviewDf3.head()

### Sync ReviewDfFile4.csv

In [ ]:
#Load the review data frame file
reviewDf=pd.read_csv('reviewDfFile4.csv',index_col=0)

In [ ]:
sortedReviewDf=reviewDf.sort_values('user_id')

In [ ]:
sortedReviewDf.tail()

In [ ]:
#Drop rows that contain NaN
sortedReviewDf=sortedReviewDf.drop(sortedReviewDf.index[-2:])

In [ ]:
availReviewCol,reviewIdCol=fastCountAvailReview(sortedUserDf,sortedReviewDf)

In [ ]:
#Put the results lists in a data frame and export it into a csv file
availReviewDf4=pd.DataFrame(data={"AvailReviewCount":availReviewCol,"Reviews":reviewIdCol},index=sortedUserDf['user_id'])
availReviewDf4.to_csv("availReviewDf4.csv")

# Now sync all availReveiewDf

In [3]:
availReviewDf1=pd.read_csv('availReviewDf1.csv')

In [4]:
availReviewDf2=pd.read_csv('availReviewDf2.csv')

In [33]:
availReviewDf3=pd.read_csv('availReviewDf3.csv')

In [34]:
availReviewDf4=pd.read_csv('availReviewDf4.csv')

In [6]:
availReviewDf1.head()

,user_id,AvailReviewCount,Reviews
0,---1lKK3aKOuomHnwAkAow,37,"{'kL23fT8JmgYoZuxHsF_wjw', 'Var3KGOJp8sA4vGcMW..."
1,---94vtJ_5o_nikEs6hUjg,0,set()
2,---PLwSf5gKdIoVnyRHgBA,0,set()
3,---cu1hq55BP9DWVXXKHZg,1,{'O0frjb1NA2AD5VnHNWVpcg'}
4,---fhiwiwBYrvqhpXgcWDQ,0,set()

In [7]:
availReviewDf2.head()

,user_id,AvailReviewCount,Reviews
0,---1lKK3aKOuomHnwAkAow,27,"{'EkkxYN5dkkSwifyFCSIR-g', 'XJ5a36JrjaOOoyMLty..."
1,---94vtJ_5o_nikEs6hUjg,1,{'bImuLGmVMhUTjFinMjM46Q'}
2,---PLwSf5gKdIoVnyRHgBA,2,"{'5Y_hKqpo4wb1pPtFgtCqrA', 'QXzgdKOdmrccxZ60Er..."
3,---cu1hq55BP9DWVXXKHZg,1,{'C64IMmOZmJWiNdFe3ELklQ'}
4,---fhiwiwBYrvqhpXgcWDQ,0,set()

In [ ]:
availReviewDf3.head()

In [ ]:
availReviewDf4.head()

In [62]:
sortedUserDf.head()

        average_stars  review_count                 user_id yelping_since
24722            3.97           245  ---1lKK3aKOuomHnwAkAow    2007-06-04
625072           5.00             2  ---94vtJ_5o_nikEs6hUjg    2016-05-27
588173           4.00             2  ---PLwSf5gKdIoVnyRHgBA    2015-07-31
404975           3.79            57  ---cu1hq55BP9DWVXXKHZg    2009-04-18
804200           2.78             8  ---fhiwiwBYrvqhpXgcWDQ    2011-04-20

### Clean out reptetitions in reviews

In [57]:
def uniqueReviewCount(Ldf,len_user):
    availReviewCountCol=[]
    reviewsCol=[]
    for i in range(len_user): #row number of the user (position-based)
#         reviewset=eval(Ldf[0].iloc[i]['Reviews'])
        reviewset=Ldf[0].iloc[i]['Reviews']
#         oldcount=Ldf[0].iloc[i]['AvailReviewCount']
        for j in range(1,len(Ldf)): #Ldf[j] <- dataframe syncing right now
#             reviewset=reviewset.union(eval(Ldf[j].iloc[i]['Reviews']))
            reviewset=reviewset.union(Ldf[j].iloc[i]['Reviews'])
#             oldcount+=Ldf[j].iloc[i]['AvailReviewCount']
        availReviewCountCol.append(len(reviewset))
        reviewsCol.append(reviewset)
#         print(oldcount,'->',len(reviewset))
    return availReviewCountCol, reviewsCol

In [ ]:
availReviewCountCol, reviewsCol=uniqueReviewCount([availReviewDf1,availReviewDf2],1183362)

In [ ]:
availReviewDfUnion1=pd.DataFrame(data={"AvailReviewCount":availReviewCountCol,"Reviews":reviewsCol},index=sortedUserDf['user_id'])

In [ ]:
availReviewCountCol2, reviewsCol2=uniqueReviewCount([availReviewDf3,availReviewDf4],1183362)

In [ ]:
availReviewDfUnion2=pd.DataFrame(data={"AvailReviewCount":availReviewCountCol2,"Reviews":reviewsCol2},index=sortedUserDf['user_id'])

In [55]:
sortedUserDf.head()

        average_stars  review_count                 user_id yelping_since
24722            3.97           245  ---1lKK3aKOuomHnwAkAow    2007-06-04
625072           5.00             2  ---94vtJ_5o_nikEs6hUjg    2016-05-27
588173           4.00             2  ---PLwSf5gKdIoVnyRHgBA    2015-07-31
404975           3.79            57  ---cu1hq55BP9DWVXXKHZg    2009-04-18
804200           2.78             8  ---fhiwiwBYrvqhpXgcWDQ    2011-04-20

In [ ]:
availReviewCountCol, reviewsCol=uniqueReviewCount([availReviewDfUnion1,availReviewDfUnion2],1183362)

In [59]:
availReviewTotalDf=pd.DataFrame(data={"AvailReviewCount":availReviewCountCol,"Reviews":reviewsCol},index=sortedUserDf['user_id'])

In [60]:
availReviewTotalDf.head(reviewset=reviewset.union(eval(Ldf[j].iloc[i]['Reviews'])))

,AvailReviewCount,Reviews
user_id,,
---1lKK3aKOuomHnwAkAow,117,"{_aSUxNefC6eiakBZlmfrkQ, X7-Kqkzg2J4rpKJGXvXfU..."
---94vtJ_5o_nikEs6hUjg,1,{bImuLGmVMhUTjFinMjM46Q}
---PLwSf5gKdIoVnyRHgBA,2,"{5Y_hKqpo4wb1pPtFgtCqrA, QXzgdKOdmrccxZ60Er7gig}"
---cu1hq55BP9DWVXXKHZg,3,"{C64IMmOZmJWiNdFe3ELklQ, VaekJKjFRtjozEcf9WTvC..."
---fhiwiwBYrvqhpXgcWDQ,1,{ek_TJCDJ3vjKqfcnKEgtHg}

In [61]:
availReviewTotalDf.to_csv('availReviewDf.csv')

## Check the percentage of available reviews for all users in the user dataset, drop rows with <= 80% of reviews available

In [66]:
import copy
newSortedUserDf=copy.deepcopy(sortedUserDf)

In [ ]:
availPct=[]
dropidx=[]
for i in range(len(newSortedUserDf)):
    actual=newSortedUserDf.iloc[i]['review_count']
    if actual==0:
        pct=0
    else:
        pct=availReviewTotalDf.iloc[i]['AvailReviewCount']/actual
    availPct.append(pct)
    if (pct<=0.8):
        dropidx.append(i)

In [93]:
newSortedUserDf['AvailPct']=availPct

In [94]:
newSortedUserDf=newSortedUserDf.drop(newSortedUserDf.index[dropidx])

In [95]:
availReviewTotalDf=availReviewTotalDf.drop(availReviewTotalDf.index[dropidx])

In [120]:
newSortedUserDf['AvailReviewCount']=availReviewTotalDf['AvailReviewCount'].values

In [123]:
newSortedUserDf['Reviews']=availReviewTotalDf['Reviews'].values

In [124]:
newSortedUserDf.tail()

,average_stars,review_count,user_id,yelping_since,AvailPct,AvailReviewCount,Reviews
1093646,4.25,1,zzvm_VD3HjU6RMx8zq7g1g,2015-06-12,1.0,1,{nd8ZaTy3wcrfLvuKTN1jYw}
396025,5.00,1,zzvqVZTYs5VKxPc-IkRQ4A,2017-03-15,1.0,1,{simX0wWLHTOpj_IyQBKeAQ}
571955,2.67,3,zzwTJAgONYCTeJia4te47g,2016-04-24,1.0,3,"{Zw1hLwD6gYQ4Z15Fo8n6Tg, J6sDT53hNjtvUZvk34Jrh..."
1178718,5.00,1,zzy9H_45XLydmYZ2P_Ve_g,2014-08-27,1.0,1,{dVC4-hUXF4qbXAi9sG3lsg}
810511,3.00,2,zzyMMeUZzKAy7KQhM7lU2w,2013-12-06,1.0,2,"{KIwAs2hgBdmSrUM5M7o_OA, Qh0nbp8yyRLFkqlBiVIxqw}"

In [130]:
newSortedUserDf.describe()

       average_stars   review_count       AvailPct  AvailReviewCount
count  388904.000000  388904.000000  388904.000000     388904.000000
mean        3.623829       4.380855       0.985101          4.066556
std         1.477098      13.790242       0.045614         12.017385
min         1.000000       1.000000       0.800866          1.000000
25%         2.630000       1.000000       1.000000          1.000000
50%         4.000000       1.000000       1.000000          1.000000
75%         5.000000       3.000000       1.000000          3.000000
max         5.000000    1178.000000       8.000000        948.000000

In [131]:
newSortedUserDf.dtypes

average_stars       float64
review_count          int64
user_id              object
yelping_since        object
AvailPct            float64
AvailReviewCount      int64
Reviews              object
dtype: object

In [125]:
len(newSortedUserDf)

388904

In [126]:
newSortedUserDf.to_pickle('UserWithReviewDf.pkl')

In [128]:
newSortedUserDf=pd.read_pickle('UserWithReviewDf.pkl')