# Importing Any Necessary Packages

In [1]:
import json 
from pprint import pprint

import pandas as pd
import matplotlib.pyplot as plt
import graphviz

import numpy as np
from pandas.io.json import json_normalize

import math

In [2]:
pd.set_option('display.max_columns', None)

# Extraction of Data

In [3]:
def extractDataInfo(filename):
    data = []
    attributes = []
    returnValues = []
    with open(filename) as f:
        for line in f:
            dataLine = json.loads(line)
            data.append(dataLine)
            for key in dataLine.keys():
                attributes.append(key)
        uniqueAttributes = set(attributes)
        returnValues.append(data)
        returnValues.append(uniqueAttributes)
        return returnValues

In [4]:
businessInfo = extractDataInfo('../dataset/business.json') #businessInfo is a list

In [27]:
businessDf = pd.DataFrame.from_dict(businessInfo[0])

In [6]:
originalDf = pd.DataFrame.from_dict(businessInfo[0]) #the original dataset

# Basic Summary of Raw Business Data

In [7]:
print(businessInfo[0][0])

{'business_id': 'YDf95gJZaq05wvo7hTQbbQ', 'name': 'Richmond Town Square', 'neighborhood': '', 'address': '691 Richmond Rd', 'city': 'Richmond Heights', 'state': 'OH', 'postal_code': '44143', 'latitude': 41.5417162, 'longitude': -81.4931165, 'stars': 2.0, 'review_count': 17, 'is_open': 1, 'attributes': {'RestaurantsPriceRange2': 2, 'BusinessParking': {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}, 'BikeParking': True, 'WheelchairAccessible': True}, 'categories': ['Shopping', 'Shopping Centers'], 'hours': {'Monday': '10:00-21:00', 'Tuesday': '10:00-21:00', 'Friday': '10:00-21:00', 'Wednesday': '10:00-21:00', 'Thursday': '10:00-21:00', 'Sunday': '11:00-18:00', 'Saturday': '10:00-21:00'}}

In [8]:
businessDf.shape

(156639, 15)

In [9]:
businessDf.dtypes

address          object
attributes       object
business_id      object
categories       object
city             object
hours            object
is_open           int64
latitude        float64
longitude       float64
name             object
neighborhood     object
postal_code      object
review_count      int64
stars           float64
state            object
dtype: object

A brief description of what the variable contains (i.e. "The Tuition column contains information on the annual cost of tuition in $USD"): 
* "business_id":string, 22 character unique string business id
* "name":string, the business's name
* "neighborhood": string, the neighborhood's name
* "address": string, the full address of the business
* "city": string, the city
* "State": string, 2 character state code, if applicable
* "postal code": string, the postal code
* "latitude": float, latitude
* "longitude": float, longitude
* "stars": float, star rating, rounded to half-stars
* "review_count": interger, number of reviews
* "is_open": integer, 0 or 1 for closed or open, respectively
* "attributes": object, business attributes to values. note: some attribute values might be objects
* "categories": an array of strings of business categories
* "hours":an object of key day to value hours, hours are using a 24hr clock
* More description at https://www.yelp.com/dataset/documentation/json

In [10]:
businessDf.describe()

,is_open,latitude,longitude,review_count,stars
count,156639.000000,156638.000000,156638.000000,156639.000000,156639.000000
mean,0.844375,38.585033,-92.856485,30.238159,3.647154
std,0.362501,5.399871,26.557741,96.486631,0.977640
min,0.000000,-36.086009,-142.466650,3.000000,1.000000
25%,1.000000,33.627161,-112.138207,4.000000,3.000000
50%,1.000000,36.142381,-89.523198,9.000000,3.500000
75%,1.000000,43.596845,-79.668760,23.000000,4.500000
max,1.000000,89.999314,115.086769,6979.000000,5.000000

# Expanding DataFrame: Unnesting 
A lot of our data is nested within each dataframe, particularly, the 'attributes', 'hours', and 'categories' columns

## Part I: Unnesting Categories  
Since the # unique Categories is significantly lower than allCategories, it could be significant to group the categories

In [7]:
def findAllCategories():
    allCategories =[]
    for categoryList in businessDf['categories']:
        if(type(categoryList) != str):  
            for category in categoryList:
                allCategories.append(category)
        else:
            allCategories.append(categoryList)
    return allCategories

In [8]:
def findUniqueCategories(allCategoriesList):
    return set(allCategoriesList)

In [9]:
def categoriesStats(allCategoriesList):
    print('Length of all categories is:')
    print(len(allCategoriesList))
    print('Length of all unique categories is:')
    print(len(findUniqueCategories(allCategoriesList)))
    allCategoriesList.remove('Restaurants')
    allCategoriesSeries = pd.Series(allCategoriesList)
    print(allCategoriesSeries.value_counts())
    
    return allCategoriesSeries.value_counts()

In [10]:
originalAllCategories = findAllCategories()
len(originalAllCategories)

590290

In [11]:
statsInfo = categoriesStats(originalAllCategories)

Length of all categories is:
590290
Length of all unique categories is:
1240
Restaurants                  51612
Shopping                     24595
Food                         23014
Beauty & Spas                15139
Home Services                13202
Health & Medical             12033
Nightlife                    11364
Bars                          9868
Automotive                    9476
Local Services                9343
Event Planning & Services     8038
Active Life                   7427
Fashion                       6299
Sandwiches                    5864
Fast Food                     5792
American (Traditional)        5737
Pizza                         5652
Coffee & Tea                  5565
Hair Salons                   5395
Hotels & Travel               5188
Arts & Entertainment          5054
Home & Garden                 4584
Auto Repair                   4480
Italian                       4411
Burgers                       4236
Doctors                       4124
Breakfast & Brunch            4103
Mexican                       3913
Nail Salons                   3884
Professional Services         3865
                             ...
Alsatian                         1
Dialysis Clinics                 1
Osteopaths                       1
Fun Fair                         1
Habilitative Services            1
Luggage Storage                  1
Linens                           1
Drive-Thru Bars                  1
Indoor Playcentre                1
Fuel Docks                       1
Town Hall                        1
Eastern German                   1
Excavation Services              1
Flyboarding                      1
Mauritius                        1
Soba                             1
Cheese Tasting Classes           1
Interlock Systems                1
Minho                            1
Outdoor Movies                   1
Palatine                         1
Registry Office                  1
Tempura                          1
Game Meat                        1
Veterans Organizations           1
Udon                             1
Surf Schools                     1
Toxicologists                    1
Home Developers                  1
Indoor Landscaping               1
Length: 1240, dtype: int64

In [12]:
def getTopCategories(topNum, frequencyTable):
    statsInfoDict = frequencyTable.to_dict()
    statsInfoList = sorted(statsInfoDict.items(), key=lambda x: x[1], reverse=True)
    
    topCategories =[]
    for i in range(topNum):
        topCategories.append(statsInfoList[i][0])
    
    return topCategories

In [13]:
def reGroup(df, categoryName):
    existList = []
    for categoryArr in df:
        exist = False
        if(type(categoryArr) != str):  
            for category in categoryArr:
                if (category == categoryName):
                    exist = True
        existList.append(exist)
    
    return existList

In [14]:
def replaceCategory(df, columnName, replacement):
    categoriesDf = df[columnName]
    restaurantsExistList = reGroup(categoriesDf, replacement)
    restaurantsExistSeries = pd.Series(restaurantsExistList)
    categoriesDf.loc[restaurantsExistSeries] = replacement
    print('# of ' + replacement + " made:")
    print(len(categoriesDf.loc[categoriesDf == replacement]))

In [28]:
topCategoriesList = getTopCategories(50, statsInfo)
topCategoriesList

['Restaurants',
 'Shopping',
 'Food',
 'Beauty & Spas',
 'Home Services',
 'Health & Medical',
 'Nightlife',
 'Bars',
 'Automotive',
 'Local Services',
 'Event Planning & Services',
 'Active Life',
 'Fashion',
 'Sandwiches',
 'Fast Food',
 'American (Traditional)',
 'Pizza',
 'Coffee & Tea',
 'Hair Salons',
 'Hotels & Travel',
 'Arts & Entertainment',
 'Home & Garden',
 'Auto Repair',
 'Italian',
 'Burgers',
 'Doctors',
 'Breakfast & Brunch',
 'Mexican',
 'Nail Salons',
 'Professional Services',
 'American (New)',
 'Chinese',
 'Real Estate',
 'Specialty Food',
 'Fitness & Instruction',
 'Pets',
 'Grocery',
 'Bakeries',
 'Cafes',
 'Hair Removal',
 'Dentists',
 'Hotels',
 'Desserts',
 'Skin Care',
 "Women's Clothing",
 'Education',
 'Japanese',
 'Ice Cream & Frozen Yogurt',
 'Pet Services',
 'Day Spas']

In [16]:
def convertedCategories(df, columnName, dataType):
    isStringList =[]
    dataFrame = df[columnName]
    for observation in dataFrame:
        isString = False
        if(type(observation) == dataType):  
            isString = True
        isStringList.append(isString)
    
    isStringSeries = pd.Series(isStringList)
    print("# converted...")
    converted =len(dataFrame.loc[isStringSeries])
    print(converted)
    print("# unconverted..")
    print(len(df) - converted)

In [29]:
for topCategory in topCategoriesList:
    replaceCategory(businessDf, 'categories', topCategory)
    convertedCategories(businessDf, 'categories', str)
    print("--------------- conversion ended -----------------")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

# of Restaurants made:
51613
# converted...
51613
# unconverted..
105026
--------------- conversion ended -----------------
# of Shopping made:
24261
# converted...
75874
# unconverted..
80765
--------------- conversion ended -----------------
# of Food made:
11538
# converted...
87412
# unconverted..
69227
--------------- conversion ended -----------------
# of Beauty & Spas made:
13139
# converted...
100551
# unconverted..
56088
--------------- conversion ended -----------------
# of Home Services made:
11053
# converted...
111604
# unconverted..
45035
--------------- conversion ended -----------------
# of Health & Medical made:
8781
# converted...
120385
# unconverted..
36254
--------------- conversion ended -----------------
# of Nightlife made:
3800
# converted...
124185
# unconverted..
32454
--------------- conversion ended -----------------
# of Bars made:
0
# converted...
124185
# unconverted..
32454
--------------- conversion ended -----------------
# of Automotive made:
8038
# converted...
132223
# unconverted..
24416
--------------- conversion ended -----------------
# of Local Services made:
4636
# converted...
136859
# unconverted..
19780
--------------- conversion ended -----------------
# of Event Planning & Services made:
4131
# converted...
140990
# unconverted..
15649
--------------- conversion ended -----------------
# of Active Life made:
4833
# converted...
145823
# unconverted..
10816
--------------- conversion ended -----------------
# of Fashion made:
0
# converted...
145823
# unconverted..
10816
--------------- conversion ended -----------------
# of Sandwiches made:
0
# converted...
145823
# unconverted..
10816
--------------- conversion ended -----------------
# of Fast Food made:
0
# converted...
145823
# unconverted..
10816
--------------- conversion ended -----------------
# of American (Traditional) made:
0
# converted...
145823
# unconverted..
10816
--------------- conversion ended -----------------
# of Pizza made:
0
# converted...
145823
# unconverted..
10816
--------------- conversion ended -----------------
# of Coffee & Tea made:
0
# converted...
145823
# unconverted..
10816
--------------- conversion ended -----------------
# of Hair Salons made:
0
# converted...
145823
# unconverted..
10816
--------------- conversion ended -----------------
# of Hotels & Travel made:
1649
# converted...
147472
# unconverted..
9167
--------------- conversion ended -----------------
# of Arts & Entertainment made:
1550
# converted...
149022
# unconverted..
7617
--------------- conversion ended -----------------
# of Home & Garden made:
0
# converted...
149022
# unconverted..
7617
--------------- conversion ended -----------------
# of Auto Repair made:
0
# converted...
149022
# unconverted..
7617
--------------- conversion ended -----------------
# of Italian made:
0
# converted...
149022
# unconverted..
7617
--------------- conversion ended -----------------
# of Burgers made:
0
# converted...
149022
# unconverted..
7617
--------------- conversion ended -----------------
# of Doctors made:
0
# converted...
149022
# unconverted..
7617
--------------- conversion ended -----------------
# of Breakfast & Brunch made:
0
# converted...
149022
# unconverted..
7617
--------------- conversion ended -----------------
# of Mexican made:
0
# converted...
149022
# unconverted..
7617
--------------- conversion ended -----------------
# of Nail Salons made:
0
# converted...
149022
# unconverted..
7617
--------------- conversion ended -----------------
# of Professional Services made:
1300
# converted...
150322
# unconverted..
6317
--------------- conversion ended -----------------
# of American (New) made:
0
# converted...
150322
# unconverted..
6317
--------------- conversion ended -----------------
# of Chinese made:
0
# converted...
150322
# unconverted..
6317
--------------- conversion ended -----------------
# of Real Estate made:
0
# converted...
150322
# unconverted..
6317
--------------- conversion ended -----------------
# of Specialty Food made:
0
# converted...
150322
# unconverted..
6317
--------------- conversion ended -----------------
# of Fitness & Instruction made:
0
# converted...
150322
# unconverted..
6317
--------------- conversion ended -----------------
# of Pets made:
2822
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Grocery made:
0
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Bakeries made:
0
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Cafes made:
0
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Hair Removal made:
0
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Dentists made:
0
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Hotels made:
0
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Desserts made:
0
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Skin Care made:
0
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Women's Clothing made:
0
# converted...
153144
# unconverted..
3495
--------------- conversion ended -----------------
# of Education made:
657
# converted...
153801
# unconverted..
2838
--------------- conversion ended -----------------
# of Japanese made:
0
# converted...
153801
# unconverted..
2838
--------------- conversion ended -----------------
# of Ice Cream & Frozen Yogurt made:
0
# converted...
153801
# unconverted..
2838
--------------- conversion ended -----------------
# of Pet Services made:
0
# converted...
153801
# unconverted..
2838
--------------- conversion ended -----------------
# of Day Spas made:
0
# converted...
153801
# unconverted..
2838
--------------- conversion ended -----------------

In [30]:
(len(businessDf)-2838)/len(businessDf)

0.9818819068048187

In [38]:
def convertToOther(df, columnName, dataType):
    notStringList =[]
    dataFrame = df[columnName]
    for observation in dataFrame:
        notString = False
        if(type(observation) != dataType):  
            notString = True
        notStringList.append(notString)
    
    notStringSeries = pd.Series(notStringList)
    return notStringSeries

In [39]:
businessDf['categories'].loc[convertToOther(businessDf, 'categories', str)]

19              [Financial Services, Banks & Credit Unions]
48              [Financial Services, Banks & Credit Unions]
66        [Departments of Motor Vehicles, Public Service...
94                          [Financial Services, Insurance]
119                                                      []
231             [Banks & Credit Unions, Financial Services]
248       [Financial Services, Insurance, Auto Insurance...
279             [Financial Services, Banks & Credit Unions]
282                               [Mass Media, Print Media]
299             [Banks & Credit Unions, Financial Services]
329                            [Radio Stations, Mass Media]
361                            [Radio Stations, Mass Media]
796             [Banks & Credit Unions, Financial Services]
812             [Banks & Credit Unions, Financial Services]
982                                                      []
1260                        [Insurance, Financial Services]
1332      [Landmarks & Historical Buildings, Public Serv...
1365      [Check Cashing/Pay-day Loans, Financial Services]
1492              [Libraries, Public Services & Government]
1510              [Public Services & Government, Libraries]
1559            [Financial Services, Banks & Credit Unions]
1607                            [Yelp Events, Local Flavor]
1617            [Banks & Credit Unions, Financial Services]
1661                                                     []
1767            [Banks & Credit Unions, Financial Services]
1866      [Financial Services, Currency Exchange, Banks ...
1966                                                     []
1969      [Financial Services, Insurance, Life Insurance...
2010            [Banks & Credit Unions, Financial Services]
2033      [Financial Services, Check Cashing/Pay-day Loans]
                                ...
155267          [Financial Services, Banks & Credit Unions]
155312          [Financial Services, Banks & Credit Unions]
155327            [Public Services & Government, Libraries]
155347          [Financial Services, Banks & Credit Unions]
155425                                       [Local Flavor]
155503          [Financial Services, Banks & Credit Unions]
155558          [Banks & Credit Unions, Financial Services]
155569                         [Radio Stations, Mass Media]
155597    [Departments of Motor Vehicles, Public Service...
155627                  [Churches, Religious Organizations]
155636                                                   []
155637                  [Churches, Religious Organizations]
155767            [Public Services & Government, Libraries]
155840                          [Yelp Events, Local Flavor]
155878                   [Tax Services, Financial Services]
155881    [Public Services & Government, Departments of ...
155916                                                   []
155937                                                   []
155959    [Insurance, Home & Rental Insurance, Life Insu...
155994          [Banks & Credit Unions, Financial Services]
156045          [Banks & Credit Unions, Financial Services]
156191    [Public Services & Government, Landmarks & His...
156300                                                   []
156302                  [Religious Organizations, Churches]
156303          [Banks & Credit Unions, Financial Services]
156310                  [Churches, Religious Organizations]
156445                  [Religious Organizations, Churches]
156545          [Financial Services, Banks & Credit Unions]
156577                      [Financial Services, Insurance]
156580                                                   []
Name: categories, Length: 2838, dtype: object

In [40]:
replaceCategory(businessDf, 'categories', 'Financial Services')
convertedCategories(businessDf, 'categories', str)

# of Financial Services made:
1251
# converted...
155052
# unconverted..
1587

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [41]:
(len(businessDf)-1587)/len(businessDf)

0.9898684235726735

We are only missing approximately 1% of the data. Thus, we will group the rest of the categories as 'Other' for the sake of convenience.

In [42]:
businessDf['categories'].loc[convertToOther(businessDf, 'categories', str)] = 'Unknown'

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [43]:
convertedCategories(businessDf, 'categories', str) #we have completely converted all the categories

# converted...
156639
# unconverted..
0

In [44]:
businessDf['categories'].unique()

array(['Shopping', 'Restaurants', 'Food', 'Professional Services',
       'Health & Medical', 'Automotive', 'Active Life', 'Beauty & Spas',
       'Home Services', 'Financial Services', 'Local Services',
       'Nightlife', 'Arts & Entertainment', 'Unknown', 'Hotels & Travel',
       'Event Planning & Services', 'Education', 'Pets'], dtype=object)

## Part II: Unnesting JSON 
   We decided to unnest the jsons of the attributes and hours info because those could be significant factors

In [48]:
def unnestJson(dataframe):
    data = list(dataframe)
    return json_normalize(data)

In [49]:
openHoursDf = unnestJson(businessDf['hours']) #The dataframe with unnested open hours info 
attributesDf = unnestJson(businessDf['attributes']) #The dataframe with unnested attributes info

In [ ]:
#merge two dataframes sidebyside by columns 
#businessDf = pd.concat([businessDf, openHoursDf, attributesDf], axis=1) 

#len(businessDf)