In [2]:
import json 
from pprint import pprint
import pandas as pd
import numpy as np

In [9]:
#Load the data frame file
userDf = pd.read_csv('userDfFile.csv',index_col=0)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [10]:
userDf.describe()

       average_stars  review_count
count   1.183362e+06  1.183362e+06
mean    3.711835e+00  2.372686e+01
std     1.105231e+00  8.050645e+01
min     1.000000e+00  0.000000e+00
25%     3.130000e+00  2.000000e+00
50%     3.890000e+00  5.000000e+00
75%     4.570000e+00  1.600000e+01
max     5.000000e+00  1.165600e+04

In [11]:
userDf.dtypes

average_stars    float64
review_count       int64
user_id           object
yelping_since     object
dtype: object

In [15]:
userDf.head()

   average_stars  review_count                 user_id yelping_since
0           3.80           272  lsSiIjAKVl-QRxKjRErBeg    2010-07-13
1           3.94          2559  om5ZiponkpRqUNa3pVPiRg    2006-01-18
2           4.72           277  -lGwMGHMC_XihFJNKCJNRg    2014-10-31
3           3.76           436  D-ydMTPGWXTVm4_jjp0k9g    2013-04-01
4           4.23           921  PcvbBOCOcs6_suRDH7TSTg    2012-08-16

In [16]:
userDf.tail()

         average_stars  review_count                 user_id yelping_since
1183357           1.00             1  OME6i0Xwqbx_xWMKgKqAjw    2009-05-09
1183358           2.00             1  3-y8vkrcLwEAXLPxPbr49Q    2016-10-21
1183359           3.42            22  ZjAfWpPFq9edGphegQXUfQ    2012-01-13
1183360           1.00             1  yC7UhCwzzteD_mpfA8mryw    2014-05-30
1183361           3.57             6  9iUkIqYh84eAOXBh-NPheA    2010-06-18

Define a metric to measure how active a user is. We call this measure "activity". 

We find the most recent date among all "yelping_since", call it *most_recent*.

Then *activity=review_count/(most_recent+1-yelping_since)*

First covert string in 'yelping_since' column all to datetime format.

In [51]:
userDf['yelping_since']=pd.to_datetime(userDf['yelping_since'])
userDf.dtypes

average_stars           float64
review_count              int64
user_id                  object
yelping_since    datetime64[ns]
dtype: object

Find the most_recent yelping_since datetime:

In [41]:
most_recent=userDf['yelping_since'].max()
print(most_recent)

2017-07-26 00:00:00

Now calculate *activity* and store all values in a new column *activity*.

Since the value is usually very small, we multiply it by 1000.

Thus, *activity* means the number of reviews the user writes per 1000 days.

In [71]:
userDf['activity']=userDf.apply(lambda row: round(row.review_count*1000/((most_recent-row.yelping_since).days+1)),axis=1)

In [73]:
userDf.head()

   average_stars  review_count                 user_id yelping_since  activity
0           3.80           272  lsSiIjAKVl-QRxKjRErBeg    2010-07-13       106
1           3.94          2559  om5ZiponkpRqUNa3pVPiRg    2006-01-18       608
2           4.72           277  -lGwMGHMC_XihFJNKCJNRg    2014-10-31       277
3           3.76           436  D-ydMTPGWXTVm4_jjp0k9g    2013-04-01       276
4           4.23           921  PcvbBOCOcs6_suRDH7TSTg    2012-08-16       510

In [74]:
userDf['activity'].min()

0

In [75]:
userDf['activity'].max()

13500

In [76]:
userDf['activity'].idxmax()

1068980

In [77]:
userDf.loc[1068980]

average_stars                      3.65
review_count                         54
user_id          duDYbWuTmgxzAh5gK0f6Tw
yelping_since       2017-07-23 00:00:00
activity                          13500
Name: 1068980, dtype: object

In [78]:
userDf.describe()

       average_stars  review_count      activity
count   1.183362e+06  1.183362e+06  1.183362e+06
mean    3.711835e+00  2.372686e+01  1.484975e+01
std     1.105231e+00  8.050645e+01  5.064215e+01
min     1.000000e+00  0.000000e+00  0.000000e+00
25%     3.130000e+00  2.000000e+00  2.000000e+00
50%     3.890000e+00  5.000000e+00  5.000000e+00
75%     4.570000e+00  1.600000e+01  1.200000e+01
max     5.000000e+00  1.165600e+04  1.350000e+04

In [79]:
userDf.tail()

,average_stars,review_count,user_id,yelping_since,activity
1183357,1.00,1,OME6i0Xwqbx_xWMKgKqAjw,2009-05-09,0
1183358,2.00,1,3-y8vkrcLwEAXLPxPbr49Q,2016-10-21,4
1183359,3.42,22,ZjAfWpPFq9edGphegQXUfQ,2012-01-13,11
1183360,1.00,1,yC7UhCwzzteD_mpfA8mryw,2014-05-30,1
1183361,3.57,6,9iUkIqYh84eAOXBh-NPheA,2010-06-18,2