In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Load the user data frame file
userDf = pd.read_csv('userDfFile.csv',index_col=0)

In [ ]:
#Load the review data frame file
reviewDf1=pd.read_csv('reviewDfFile1.csv',index_col=0)

In [ ]:
#Make a deep copy of userDf for adding a new column 'available_review_count'
newUserDf=userDf.copy()

In [53]:
print(len(userDf))
print(len(reviewDf1))

1183362
1114565

This is my first attemp. After I wrote it, I figured it might be very slow so I did not bother running it through.

In [ ]:
# '''Count the number of available reviews in reviewDf for each user in userDf and add that to the existing newUserDf which contains the available_review_count so far'''
# def countAvailableReview(userDf,reviewDf,newUserDf):
#     #loop through each user in userDf and count the number of reviews available in reviewDf
#     for i in range(len(userDf)):
#         user=userDf.loc[i,'user_id']
#         available_review_count=len(reviewDf.loc[reviewDf['user_id']==user])
#         newUserDf.at[i,'available_review_count']=available_review_count
#     return newUserDf

In [ ]:
# newUserDf=countAvailableReview(userDf,reviewDf1,newUserDf)

In [5]:
newUserDf.sort_values('user_id',inplace=True)

In [71]:
newUserDf.head()

        average_stars  review_count                 user_id yelping_since
24722            3.97           245  ---1lKK3aKOuomHnwAkAow    2007-06-04
625072           5.00             2  ---94vtJ_5o_nikEs6hUjg    2016-05-27
588173           4.00             2  ---PLwSf5gKdIoVnyRHgBA    2015-07-31
404975           3.79            57  ---cu1hq55BP9DWVXXKHZg    2009-04-18
804200           2.78             8  ---fhiwiwBYrvqhpXgcWDQ    2011-04-20

In [20]:
'---94vtJ_5o_nikEs6hUjg'<'---PLwSf5gKdIoVnyRHgBA'

True

In [72]:
# newUserDf.iloc[0, newUserDf.columns.get_loc('review_count')] = 246
# df.iloc[0, df.columns.get_loc('COL_NAME')] = x
# The following codes are just for testing
# for i in range(20):
#     print(len(reviewDf1.loc[reviewDf1['user_id']==newUserDf.iloc[i]['user_id']]))

In [14]:
reviewDf1.sort_values('user_id',inplace=True)

In [73]:
reviewDf1.head()

,business_id,date,review_id,stars,text,user_id
1078980,cHuA0Yb5oYwx1lrNVABqdQ,2012-02-19,-nyKSlK-acm7Tkuobbw3MA,5.0,I know its cliche that women like chocolates. ...,---1lKK3aKOuomHnwAkAow
533710,pwLQfEe_yJYwAWWugWbpIQ,2010-11-16,zVSaK-AEJ9aI4lHpTN_trQ,4.0,Hello color blocking!!! I love coming in here ...,---1lKK3aKOuomHnwAkAow
68087,OGQ_6nIn4QQL2U6t0XeHtA,2011-09-29,qa62wRlwKkhMBCJD0YxxCw,5.0,Holy Popcorn! Salt and Vinegar popcorn totall...,---1lKK3aKOuomHnwAkAow
274908,i6FdasoJZdhqT1tJBGRScw,2013-03-11,kL23fT8JmgYoZuxHsF_wjw,4.0,I always wish this was still an elementary sch...,---1lKK3aKOuomHnwAkAow
402881,t6WY1IrohUecqNjd9bG42Q,2011-02-22,JLrbGM6_SKQTEJSCTnBrLw,4.0,Okay guys 20 mins for a spice ice tea and coff...,---1lKK3aKOuomHnwAkAow

### Sync the first data frame (reviewDfFile1.csv)

In [57]:
j=0 #j iterator in the sorted reviewDf1
jmax=len(reviewDf1)
newcolumn=[]
for i in range(len(newUserDf)): #i is the iterator in the sorted newUserDf
    user=newUserDf.iloc[i]['user_id'] #the current user we are syncing
#     print(i,j,reviewDf1.iloc[j]['user_id'],user)
    #loop till we find a user_id that is equal to or larger than user
    while (j<jmax and reviewDf1.iloc[j]['user_id']<user):
        j+=1
    count=0 #initial available_review_count
    #Now the user_id at position j in reviewDf matches the user_id at position i in newUserDf
    while (j<jmax and reviewDf1.iloc[j]['user_id']==user):
        count+=1
        j+=1
    newcolumn.append(count)

In [69]:
import copy
newcolumncopy=copy.deepcopy(newcolumn)

### Now create a function to sync the rest data frames

In [75]:
def fastCountAvaiReview(sortedUserDf,sortedReviewDf,newcolumn):
    j=0
    jmax=len(sortedReviewDf)
    for i in range(len(sortedUserDf)):#i is the iterator in the sorted newUserDf
        user=sortedUserDf.iloc[i]['user_id'] #the current user we are syncing
        #loop till we find a user_id that is equal to or larger than user
        while (j<jmax and sortedReviewDf.iloc[j]['user_id']<user):
            j+=1
        count=0 #initial available_review_count
        #Now the user_id at position j in reviewDf matches the user_id at position i in newUserDf
        while (j<jmax and sortedReviewDf.iloc[j]['user_id']==user):
            count+=1
            j+=1
        newcolumn[i]+=count
    return newcolumn

In [68]:
#newUserDf.dropna()
#It turns out there is actually no na values in the data frame

In [77]:
def loadAndSortCSV(csvfile):
    reviewDf=pd.read_csv(csvfile,index_col=0)
    reviewDf.sort_values('user_id',inplace=True)
    return reviewDf

In [78]:
reviewDf=loadAndSortCSV('reviewDfFile2.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [80]:
newcolumncopy=fastCountAvaiReview(newUserDf,reviewDf,newcolumncopy)

In [82]:
AvaiReviewCountDf = pd.DataFrame(newcolumncopy, columns=["colummn"])

In [83]:
AvaiReviewCountDf.to_csv('AvaiReviewCountDfFile.csv', index=False)

In [84]:
AvaiReviewCountDf.head()

   colummn
0       64
1        1
2        2
3        2
4        0